<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Main page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mainPage.css" rel="stylesheet" />
</head>
<body class="text-center bgimg">
    <header>
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column ">
            <div class="row">
                <nav class="col nav nav-main form-inline justify-content-end">
                    @Ajax.ActionLink("Sign in", "Login", "Account", null,
                                                           new AjaxOptions
                                                           {
                                                               HttpMethod = "GET",
                                                               UpdateTargetId = "result",
                                                               InsertionMode = InsertionMode.Replace
                                                           }, new { @class = "nav-link" })
                    @Ajax.ActionLink("New Account", "CreateAccount", "Account", null,
                                                           new AjaxOptions
                                                           {
                                                               UpdateTargetId = "result",
                                                               InsertionMode = InsertionMode.Replace
                                                           },
                                                           new { @class = "nav-link" })
                </nav>
            </div>
            <div class="row">
                <div class="col text-left brand-main"><h3> Inventory Manager</h3></div>
                <div class="col text-right">
                    <nav class="nav form-inline nav-main justify-content-end">
                        @Ajax.ActionLink("Home", "Body", "Home", null,
                                         new AjaxOptions
                                         {
                                             HttpMethod = "GET",
                                             UpdateTargetId = "result",
                                             InsertionMode = InsertionMode.Replace
                                         }, new { @class = "nav-link" })
                        <a class="nav-link" href="#">Contact</a>
                        <a class="nav-link" href="#">Help</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="result">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        Made by plapatin@gmail.com
    </footer>

    @Scripts.Render("~/bundles/jquery")

    <script>
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</body>
</html>
