@using NetMastery.InventoryManager.Models
@model OrganizationListViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using (Html.BeginForm("Remove", "Organization", FormMethod.Post, new { @class = "w-100"}))
{
    <div class="row w-100 justify-content-end">
        <div>
            <div>
                    <nav class="btn-right">
                        <a class="btn btn-success" href=@Url.Action("Add", "Organization")>Add</a>

                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete selected" class="btn btn-warning">
                        
                    </nav>
            </div>
        </div>
    </div>
    <div class="row w-100 justify-content-center">
        @for (int i= 0; i< Model.Organizations.Count(); i++)
        {
            <div class="col-auto">
                @Html.HiddenFor(m =>m.Organizations[i].OrganizationId)
                @Html.CheckBoxFor(m=>m.Organizations[i].IsSelected)
                @Html.Partial("Organization", Model.Organizations[i])
            </div>
        }
    </div>
    <hr />
}
<div class="row w-100 justify-content-center">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("OrganisationList", new { page = x }))
</div>