@using NetMastery.InventoryManager.Models
@model OrganizationViewModel

@{ 
    Layout = null;
}

<link href="~/Content/organizationCard.css" rel="stylesheet" />

<div class="card container-fluid w-100 h-100">
    <!--Card image-->
    <div class="row w-100 justify-content-center">
        @if (Model != null && Model.Image != null && Model.Image.Length > 0)
        {
        <img class="img-fluid image" src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Image)" alt="Card image cap" />
        }
        else
        {
            <img class="img-fluid image" src="~/imgs/CardOrganizationDefault.jpg" alt="Card image cap" />
            <h6> Photo from http://moziru.com</h6>
        }
    </div>

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">@Model.Name</h4>
        <!--Text-->
        <p class="card-text">Address: @Model.Address</p>
        <p class="card-text">Telephone: @Model.Phone</p>
        <p class="card-text">Email: @Model.Email</p>
        <div class="row w-100 justify-content-center">
            @Html.ActionLink("Edit", "Edit", "Organistion", new { @class = "btn btn-info btn-bottom" })
        </div>
    </div>

</div>
