
@using NetMastery.InventoryManager.Models.AccountViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "Create New Account";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                @using (Html.BeginForm("CreateNewAccount", "Account", FormMethod.Post, new { @class = "login form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="form-title">Sign Up</p>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "user-name form-control", placeholder = "User name" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "user-name form-control", placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "password form-control", placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "password form-control", placeholder = "Confirm password" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "user-name form-control", placeholder = "Phone number" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-sm btn-login" value="Sign Up" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>
